<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>用户列表</title>
    <meta charset="UTF-8">
    <script th:src="@{/script/jquery-3.6.0.min.js}"></script>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>

<nav th:insert="~{commons/common::topbar}"></nav>

<div class="container-fluid">
    <div class="row">

        <nav th:insert="~{commons/common::sidebar(active='all')}"></nav>

        <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3" id="search">
                        <input aria-describedby="button-addon2" aria-label="searchById" class="form-control"
                               placeholder="请输入用户ID进行检索" type="text"
                               v-model="id">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                    v-on:click="search">
                                搜索
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span style="color: red" th:text="${error}"></span>
                </div>
            </div>

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>用户姓名</th>
                    <th>用户年龄</th>
                    <th>详细描述</th>
                    <th>创建日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="user:${list}">
                    <tr>
                        <td style="width:10%" th:text="${user.id}"></td>
                        <td style="width:15%" th:text="${user.name}"></td>
                        <td style="width:10%" th:text="${user.age}"></td>
                        <td style="width:40%; word-wrap: break-word" th:text="${user.detail}"></td>
                        <td style="width:10%" th:text="${#dates.format(user.createdDate, 'yyyy-MM-dd')}"></td>
                        <td style="width:15%">
                            <a th:href="@{/update/}+${user.id}">修改</a>
                            &nbsp; | &nbsp;
                            <a th:href="@{/delete/}+${user.id}">删除</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let vm = new Vue({
        el: '#search',
        data: {
            id: ''
        },
        methods: {
            search: function () {
                window.location.href = '/all/' + this.id;
            }
        }
    })
</script>
</body>
</html>