<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <script th:src="@{/script/jquery-3.6.0.min.js}"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>

<body>
<br>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">
        </div>

        <div class="col-md-4" id="login">
            <form th:action="@{/login}">
                <div class="form-group">
                    <label>
                        管理员账号
                    </label>
                    <input class="form-control" name="id" required type="text"/>
                </div>

                <div class="form-group">
                    <label>
                        密码
                    </label>
                    <input class="form-control" name="password" required type="password"/>
                </div>

                <input class="btn btn-primary" type="submit" value="登陆"/>

                <span style="color:red" th:text="${error}"></span>
            </form>
        </div>

        <div class="col-md-4">
        </div>
    </div>
</div>

</body>

</html>
